body { width:100%;  font-size:14px; font-family:  Trebuchet MS,Trebuchet,Arial,Helvetica,sans-serif; color:rgb(10,10,10);min-width: 960px;}
#main { width:960px; margin:0 auto; /*border:1px solid black;*/}
#footer { text-align:center;}


#main input[type='submit'] { display:none;}
#main h1 { text-align:center; font-size:30px; padding-top:20px; padding-bottom:20px;  line-height:30px;}
	div#post-header {text-align:center; }
	div#post-header form { width:98%; margin:0 auto;}
	div#post-header  input[type='text'] { border: 1px solid rgb(200,200,200);  background:0; background-color:rgb(254,254,254); font-size:25px; outline:none; width:95%; text-align:center; margin-top:20px; margin-bottom:20px;}
	div#post-header	form.post_title{ display:none;}
	
	
#main div.step { padding-left:50px; margin-bottom: 25px;}
#main div.step h2 { font-size:20px; padding-top:10px; padding-bottom:9px;}
#main div.step div.detail-wrapper { margin-left: 20px; margin-top:20px;}
#main div.step div.detail-wrapper img  { cursor : pointer;}

#main div.step p.step-description { padding-left: 20px; line-height:150%; color: rgb(100,100,100); font-size:16px;}
#main form.new_step_title input[type='text']{ border: 1px solid rgb(200,200,200);  background:0; background-color:rgb(255,255,255); font-size:20px; outline:none; width:80%; text-align:left; display:none;  margin-bottom:5px;}
#main form.new_step_description textarea{ border: 1px solid rgb(200,200,200);  background:0; background-color:rgb(255,255,255); font-size:18px; outline:none; width:80%; text-align:left; display:none;  margin-bottom:5px; height:100px; font-family: Helvetica, Arial; padding: 5px 10px; color: #646464; line-height:150%; margin-left:20px;}

#main div.detail-wrapper ul.uploaded_pic_wrapper { list-style :none; margin-top:30px;}
#main div.detail-wrapper ul.uploaded_pic_wrapper  li { float : left; width: 160px; height:160px;}
#main  div.content-pic-wrapper{ display: none;}
