body { width:100%;  font-size:14px; font-family:  Helvetica, Arial; color:rgb(10,10,10);min-width: 960px;}
#main { width:960px; margin:0 auto; /*border:1px solid black;*/}
#footer { text-align:center;}


#main input[type='submit'] { display:none;}
#main h1 { text-align:center; font-size:30px; padding-top:20px; padding-bottom:20px;  line-height:30px;}
	div#post-header {text-align:center; }
	div#post-header form { width:98%; margin:0 auto;}
	div#post-header  input[type='text'] { border: 1px solid rgb(200,200,200);  background:0; background-color:rgb(254,254,254); font-size:25px; outline:none; width:95%; text-align:center; margin-top:20px; margin-bottom:20px;}
	div#post-header	form.post_title{ display:none;}
	
	
#main div.step { padding-left:50px; margin-bottom: 25px;}
#main div.step h2 { font-size:18px; padding-top:10px; padding-bottom:9px;}
#main div.step p.step-description { padding-left: 20px; line-height:20px; color: rgb(100,100,100); font-size:14px;}
#main form.new_step_title input[type='text']{ border: 1px solid rgb(200,200,200);  background:0; background-color:rgb(255,255,255); font-size:20px; outline:none; width:80%; text-align:left; display:none;  margin-bottom:5px;}

