<div id="post-header">
	<h1 id='post-title'>User Guide Made Simple</h1>
</div> <!-- EO #post-header -->

<ul id="steps-container">
	<div id='step-1' class="step">
		<h2>Focus in the information, not the presentation</h2>
		
		<p class="step-description">
			Most of the user guides that I have read are focusing too much in the language semantic. The commonality of those guides is that they are written in the formal language, as if the readers are in the business setting. There is nothing wrong with being formal and being in the business-like-setting if your target market is formal in nature (think about financial agreement). However, if your target market is normal people like <a href="http://www.facebook.com/kumakinsey">me</a> and your product is consumer product (shoes, cellphone), formal language will not make the click.
		</p>
	

		<%#= render :partial => "add_detail", :locals => {:order => 1} %>
		
	</div>
	
	<div id='step-2' class="step">
		<h2>Arrange the idea in the logical manner, step-by-step</h2>
		
		<p class="step-description">
			Over here, we force you to arrange your idea to be modular, step-by-step. We provide you with the template optimized for that purpose. Blogging is a difficult thing to do: <b>you have to think about content and presentation</b>. If you don't trust me, look at the rate of blog posts per day made by any of your favorite blogger. I dare to put my $50 in betting that they will not beat TechCrunch's blogging rate (in average 5 blog posts per day). Hey, talking about TechCrunch, I notice that all their blog posts come in the similar template: 1 elaborative picture aligned at the right side and 1 last punching <span class='strike-through'>line</span> picture at the end of the blog (<a href="http://techcrunch.com/2010/08/17/chromium-7/">see this</a>). So, it hits my mind: <b style="font-size:18px;">What if I make a template for blogging. Will I be more productive?</b>
		</p>
	

		<%#= render :partial => "add_detail" , :locals => {:order => 2}%>
	</div>
	
	<div id='step-3' class="step">
		<h2>Publish and Monetize</h2>

		
		<p class="step-description">
			If you want, you can find some companies to support you in making <span class='strike-through'>user guide</span> usualGuide. Hey, what is better than that? You are helping the society and getting paid! And, the companies are happy that they are not the one making informal guide. It is their fans that is making the easy-to-decipher guide.
		</p>
		

		
		<%#= render :partial => "add_detail", :locals => {:order => 3} %>
	</div>
</ul>




