<div class='detail-wrapper'>
	<% if step.details.size >0 %>
		<ul class="uploaded_pic_wrapper clearfix" id="pic-wrapper_<%= order %>">
			<% for detail in step.details %>
				<li>
					<%= image_tag(detail.photo.url(:small))%>
				</li>
			<% end %>
		</ul>
	<% end %>
	
	<% if !step.detail_code.blank?  %>
		<div class="uploaded_code_container">
			<% if step.detail_code %>
			<%= step.detail_code.code %>
			<% end %>
		</div>
	<% end %>
	
	
	
</div>