<div id="header-wrapper">
	<div id="header" class="clearfix">
		<span>usualGuide</span>
		<% if current_user %>
			<%= link_to "logout", logout_url%>
		<% end %>
	</div> <!-- EO div#header -->
</div> <!-- EO div#header-wrapper -->